<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Restaurant Apps Starter Project</title>
  </head>
  <body>
    <h1 class="text-center font-semibold">Restaurant Apps Starter Project</h1>
    <div id="container" class="grid p-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2"></div>
  </body>
</html>
